<!DOCTYPE html>
<html>
<head>
	<title>name={{ name }}_Admin</title>
  <style>
    .adminbox
  {
     height: 400px !important;
    width: 1000px !important;
    background: #000 !important;
    color: #fff !important;
    top: 25% !important;
    left: 15% !important;
    padding: 70px 30px !important;
    position: absolute !important;
  }

  .left
  {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30%;
    color: #ffffff;
  }

  .form-control
  {
  width: 40% !important;
  margin-left: 150px;
  }

  </style>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='admin.css')}}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('login')}}">Santu Telecoms</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{{ url_for('manage',id=name) }}">Manage Employee</a></li>
      <li><a href="{{ url_for('addemp',id=name) }}">Add Employee</a></li>
      <li><a href="{{ url_for('showplan',id=name) }}">View Plans</a></li>
      <li><a href="{{ url_for('showkiosk',id=name) }}">View Kiosks</a></li>
      <li><a href="#">View Customers</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Change Password</a></li>
    </ul>
  </div>
</nav>

<div class="adminbox">
<div><h3 class="left">No. of Customers: {{ noc }}</h3>  <h3 class="left"> Revenue by existing customers(Rs): {{ rev }}</h3></div>
<div><h3 class="left">No. of Kiosks: {{ nok }} </h3>    <h3 class="left">     No. of Employees: {{ noe }}</h3></div>
</div>
</body>
</html>